# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
nbproject/
sites/*/*.tar.gz
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore export bdd and files
bdd/
backup/

# Ignore node.js server
scripts/web-server.js
