# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore netbeans config files
nbproject

# Ignore url de connexion
uli.txt

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
