body{
    background : #BECED9 url(../images/fond_top.png) repeat-x 0 0;
}
body.front #over_body{
    padding-bottom :138px;
    background :url(../images/footer1.jpg) repeat-x 50% 100%;
}
#over_body{
    padding-bottom :197px;
    background :url(../images/footer1.jpg) repeat-x 50% 100%;
}
.over_over_body{
    background : url(../images/bgHeaderMenu.jpg) no-repeat 50% 68px;
}
.over_over_body_home{
    background : url(../images/bgHeaderMenu_home.jpg) no-repeat 50% 68px;
}
#main{
    
    
}
#header{
    position : relative;
    height:217px;
}
body.front #header{
    position : relative;
    height:328px;
    border:1px solid red;
}
#footer{
    /*background : url(../images/footer1.jpg) no-repeat 0 0;*/
}

/* bandeau ********************************************************************/
.region-header{
    border : 1px solid transparent;
}
#header h1{
    display: inline;
}
#logo{
    z-index:99;
    position : absolute;
    top :20px;
    left :10px;
}
.view-images-bandeau-sauf-accueil ul{
    list-style: none;
}
.view-images-bandeau-sauf-accueil{
    position : absolute;
    top :44px;
    left :129px;
    z-index:9;
}

#over_hb_all{
    position : absolute;
    top :68px;
    left :159px;
    z-index:10;
}
/* Diaporama ******************************************************************/

#block-views-diaporama-accueil-block{
    position : absolute;
    top :68px;
    left : 19px;
    z-index:9;
}
#over_hb_home{
    position : absolute;
    top :68px;
    left :0;
    z-index:10;
}
/*#views_slideshow_controls_text_diaporama_accueil-block{
    position : absolute;
    top : 150px;
    left : 300px;
    z-index:110;
    border :1px solid red;
}*/
#views_slideshow_controls_text_diaporama_accueil-block a{
    font-size : 0;
}
#views_slideshow_controls_text_previous_diaporama_accueil-block{
    position : absolute;
    top : 150px;
    left : -68px;
    display: block;
    width :46px;
    height :46px ;
    background: url(../images/icons/flecheGSlider.png) no-repeat 0 0;
    z-index:9999;
}
#views_slideshow_controls_text_next_diaporama_accueil-block{
    position : absolute;
    top : 150px;
    left :945px;
    display: block;
    width :46px;
    height :46px ;
    background: url(../images/icons/flecheDSlider.png) no-repeat 0 0;
    z-index:9999;
}
#views_slideshow_controls_text_pause_diaporama_accueil-block{
    display: none;
}
#views_slideshow_controls_text_previous_diaporama_accueil-block:hover{
    background: url(../images/icons/flecheGSlider.png) no-repeat 0 100%;
}
#views_slideshow_controls_text_next_diaporama_accueil-block:hover{
    background: url(../images/icons/flecheDSlider.png) no-repeat 0 100%;
}
/* Menus hauts ****************************************************************/
.menu-name-menu-menu-commodit-haut ul{
    list-style: none;
    padding : 0;
    margin : 0;
    float : right;
}
.menu-name-menu-menu-commodit-haut ul li{
    padding : 0;
    margin : 0;
    float : left;
    list-style: none;
}
.menu-name-menu-menu-commodit-haut ul li a{
    display :block;
    float : left;
    height: 49px;
    margin: 0 2px;
    text-indent: -5000px;
    width: 47px;
}

.menu-name-menu-menu-commodit-haut ul li.menu-mlid-396 a{
   background: url(../images/icons/btEmploi.png) no-repeat 0 0;
}
.menu-name-menu-menu-commodit-haut ul li.menu-mlid-396 a:hover{
   background: url(../images/icons/btEmploi.png) no-repeat 0 100%;
}
.menu-name-menu-menu-commodit-haut ul li.menu-mlid-398 a{
   background: url(../images/icons/btMarchePublic.png) no-repeat 0 0;
}
.menu-name-menu-menu-commodit-haut ul li.menu-mlid-398 a:hover{
   background: url(../images/icons/btMarchePublic.png) no-repeat 0 100%;
}
.over_menu{
    background: url(../images/bgTopInfobulle.png) no-repeat 0 0;
    width:93px;
    height:44px;
    color : white;
    font-size : 90%;
    padding:5px;
    z-index: 9999999;
    text-align: center;
    position:absolute;
}
/* search *********************************************************************/
#search-block-form{
    position : absolute;
    top: 30px;
    left : 500px;
}
/* Menu principal *************************************************************/
#navigation ul.links li{
    padding : 0;
}
#navigation ul.links li a{
    display : block;
    color : #685147;
    height : 50px;
    padding : 12px 0 0 0;
    font-family: "Viga",sans-serif;
    text-align: center;
    text-decoration: none;
}
#navigation ul.links li.menu-410 a{
    width:127px;
    margin : 0 2px 0 16px;
}
#navigation ul.links li.menu-410 a:hover{
    color : white;
    background-color: #D40136;
}
#navigation ul.links li.menu-411 a{
    width:94px;
    margin : 0 10px 0 0;
}
#navigation ul.links li.menu-412 a{
    width:110px;
    margin :  0 15px 0 0;
}
#navigation ul.links li.menu-413 a{
    width:140px;
    margin :  0 10px 0 0;
}
#navigation ul.links li.menu-414 a{
    width:156px;
    margin :  0 5px 0 0;
}
#navigation ul.links li.menu-385 a{
    width:216px;
    margin : 0 1px;
}
/* Mega Menu ******************************************************************/
#block-om-maximenu-om-maximenu-1{
    margin-top:215px;
}
#block-om-maximenu-om-maximenu-1 h2.block-title{
   position: absolute;
   left:-4000px;
}
#block-om-maximenu-om-maximenu-1 .om-maximenu-content {
    height:300px;
    border:5px solid red;
    width:875px;
  }
#block-om-maximenu-om-maximenu-1 .om-maximenu-content .om-maximenu-middle-right .block-menu_block{
    width:250px;
    float:left;
    border:1px solid red;
  }
#block-om-maximenu-om-maximenu-1 .om-maximenu-content .om-maximenu-middle-right .block-views{
    width:250px;
    float:left;
    border:1px solid red;
  }
 #om-menu-menu-principal li.om-leaf a{
    display : block;
    color : #685147;
    height : 50px;
    padding : 12px 0 0 0;
    font-family: "Viga",sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
}

 #om-menu-menu-principal li.om-leaf{
    font-size: 0.9em;
  }
#om-leaf-om-u1-654698953-2 a{
    width:127px;
    margin : 0 2px 0 16px;
}
#om-leaf-om-u1-654698953-2 a:hover{
    color : white;
    background-color: #D40136;
}
#om-leaf-om-u1-654698953-4 a{
    width:94px;
    margin : 0 10px 0 0;
}
#om-leaf-om-u1-654698953-3 a{
    width:110px;
    margin :  0 15px 0 0;
}
#om-leaf-om-u1-654698953-5 a{
    width:140px;
    margin :  0 10px 0 0;
}
#om-leaf-om-u1-654698953-6 a{
    width:156px;
    margin :  0 5px 0 0;
}
#om-leaf-om-u1-654698953-1 a{
    width:216px;
    margin : 0 1px;
}
